#page{
  font-family: courier;
  font-weight: bold;
}

@media only screen and (min-width: 700px){
  #page{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px){
  #page{
    margin-top: 10px;
    font-size: 10px;
  }
}

#page .img{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
