/* 
    Created on : 18-dic-2019, 18.06.56
    Author     : andreabalasso
*/
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.row.content {height: auto}

@media screen and (min-width: 768px) {
  .sidenav {position: fixed;}
  .contentView{margin-left: 20%};
  .stick {
    position: -webkit-sticky; /* Safari */
    position: sticky;         /* Other  */
    top: 71px;
  }
  .row.content {display: flex;}
}

/*NEW*/
@media screen and (min-height: 800px) {
  .row.content {
    min-width: 92vw;
  }
}     

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    min-width: 100vw;
    padding: 15px;
    background-color: transparent;
  }
  .contentView{margin-left: 25px;};
}

footer {
  background-color: #555;
  color: white;
  padding: 10px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}