#topnav{
  overflow: hidden;
  font-family: verdana;
  font-weight: bold;
  background-color: #e9e9e9;
  border-radius: 8px;
}

@media only screen and (min-width: 700px){
  #topnav{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 20px;
  }
  #topnav .login-container button{
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
  }
  #topnav .login-container{
    float: right;
  }
  #topnav .login-content a{
    float: none;
    padding: 12px 16px;
    font-size: 12px;
    display: block;
    background-color: #e9e9e9;
    text-align: left;
  }
  #topnav .login-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
}

@media only screen and (max-width: 700px){
  #topnav{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
  }
  #topnav .login-container button{
    padding: 6px 10px;
    margin-top: 6px;
    margin-right: 14px;
    background-color: #555;
    color: white;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
  }
  #topnav .login-container{
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  #topnav .login-content a{
    float: none;
    padding: 12px 16px;
    font-size: 7px;
    display: block;
    background-color: #e9e9e9;
    text-align: left;
  }
  #topnav .login-content{
    display: none;
    position: absolute;
    min-width: 90px;
    z-index: 1;
  }
}

#topnav a{
  float: left;
  display: block;
  color: #948788;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topnav a:hover{
  background-color: #ddd;
  color: black;
}

#topnav a.active{
  background-color: #948788;
  color: white;
}

#topnav .login-container button:hover{
  background-color: #2980B9;
}

#topnav .login-content a:hover{
  background-color: #2980B9;
}

#topnav .login-container:hover .login-content {
  display: block;
}

#topnav.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

#topnav .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#topnav .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#topnav .close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

#topnav .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

#topnav .webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

#topnav keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
